@{
    ViewData["Title"] = "Confirm email";
}
    <br />
<h4>@ViewData["Title"]</h4>
<div>
    <p>
        Thank you for confirming your email. Now you can login into TCP App system.
    </p>
</div>

