@model Control.Web.Models.KiuReportViewModel
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<br />
<h4>DATE Analisys Select</h4>
<hr />
<section>


    <div class="row">
        <div class="col-md-2">
            <form asp-action="Details" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="PublishOn" class="control-label"></label>
                    <select asp-for="PublishOn" asp-items="Model.Fechas" class="form-control"></select>
                    <span asp-validation-for="PublishOn" class="text-danger"></span>
                </div>



                <div class="form-group">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Get Analisys</button>

                </div>
            </form>
        </div>

    </div>
</section>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
  

}


