@{
    ViewData["Title"] = "Contacto:";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Satena<br />
    Avenida El Dorado # 103-08 Bogotá, D.C.<br />
    Línea Nacional Gratuita:
    01 8000 912034
    Contact Center:
    +57 (1) 605 2222
</address>

<address>
    <strong>Marketing:</strong> <a href="https://www.satena.com/">www.satena.com.co</a>
</address>
