@{
    ViewData["Title"] = "Contacto:";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Satena<br />
    Avenida El Dorado # 103-08 Bogotá, D.C.<br />
    Línea Nacional Gratuita:
    01 8000 912034
    Contact Center:
    +57 (1) 605 2222
</address>

<address>
  Inquietudes:  <a href="mailto:administrador.kiu@satena.com">administrador.kiu@satena.com</a>.<br>
   Oficina Asesora de Planeacion<br>
   Bogota
</address>

<address>
    <strong>Marketing:</strong> <a href="https://www.satena.com/">www.satena.com.co</a>
</address>

<li><a asp-area="" asp-controller="Home" asp-action="Directorio">Directorio SATENA</a></li>
