@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/kiu.png" alt="Kiu Admin" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Administracion Sistema KIU
                    <a class="btn btn-default" href="https://admin.kiusys.net/satena/">
                        Get Link
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/kiude.png" alt="Kiu DE" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Explorador de Datos KIU.
                    <a class="btn btn-default" href="http://apps.kiusys.com/kiudataex/satena/index.php">
                        Get Link
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/tail.jpg" alt="Satena" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    SATENA 
                    <a class="btn btn-default" href="https://www.satena.com/">
                        Get Link
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Control Pasajeros</h2>
        <ul>
            <li>Desarrollo Remoto</li>
            <li>Extension Android  <a href="https://play.google.com/store" target="_blank">Play Store</a></li>
            <li>Extension iOS  <a href="https://appstoreconnect.apple.com/login" target="_blank">Apple Store</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Enlaces de Administracion</h2>
        <ul>
           <li><a asp-area="" asp-controller="Home" asp-action="Directorio">Directorio SATENA</a></li>

        </ul>
    </div>
    <div class="col-md-3">
        <h2>Aplicaciones KIU</h2>
        <ul>
            <li><a href="http://apps.kiusys.com/kiudataex/satena/index.php">Explorador de Datos</a></li>
            <li><a href="https://admin.kiusys.net/satena/">Administrador</a></li>

        </ul>
    </div>
    <div class="col-md-3">
        <h2>Run &amp; SATENA</h2>
        <ul>
            <li><a href="https://www.satena.com/" target="_blank">Satena.com</a></li>
            
        </ul>
    </div>
</div>
