@model Control.Web.Models.PassangerViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Ingresar Conteo de Pasajeros</h2>

<h4>Datos por Vuelo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Flight" class="control-label"></label>
                <input asp-for="Flight" class="form-control" />
                <span asp-validation-for="Flight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adult" class="control-label"></label>
                <input asp-for="Adult" class="form-control" />
                <span asp-validation-for="Adult" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Child" class="control-label"></label>
                <input asp-for="Child" class="form-control" />
                <span asp-validation-for="Child" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Infant" class="control-label"></label>
                <input asp-for="Infant" class="form-control" />
                <span asp-validation-for="Infant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishOn" class="control-label"></label>
                <input asp-for="PublishOn" class="form-control" />
                <span asp-validation-for="PublishOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
