@model Control.Web.Models.PassangerViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Editar Reporte</h2>

<h4>Datos del Vuelo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ImageUrl" />
            <div class="form-group">
                <label asp-for="Flight" class="control-label"></label>
                <input asp-for="Flight" class="form-control" />
                <span asp-validation-for="Flight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adult" class="control-label"></label>
                <input asp-for="Adult" class="form-control" />
                <span asp-validation-for="Adult" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Child" class="control-label"></label>
                <input asp-for="Child" class="form-control" />
                <span asp-validation-for="Child" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Infant" class="control-label"></label>
                <input asp-for="Infant" class="form-control" />
                <span asp-validation-for="Infant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishOn" class="control-label"></label>
                <div class="input-group date" data-provide="datepicker">
                    <input asp-for="PublishOn" class="form-control" id="date" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <span asp-validation-for="PublishOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                <a asp-action="Index" class="btn btn-success"><i class="fa fa-chevron-left"></i> Back to List</a>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <img src="@Url.Content(Model.ImageUrl)" alt="Image" style="width:600px;height:850px;max-width: 100%; height: auto;" />
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">

        $.fn.datepicker.defaults.format = "dd/mm/yyyy";
        $('#date').datepicker({
            startDate: '-3d'
                });
       
    $('#date').datepicker().attr('type','text').click(function (e) {
        e.preventDefault();
    }).datepicker({
          onSelect: function (dateText) {
            var d = new Date(dateText),
                dv = d.getDay().toString().pad(2) + '/' +   (d.getMonth() + 1).toString().pad(2) + '/' + d.getFullYear().toString().pad(4);
            $(this).val(dv).trigger('change');
        }
    });
    </script>
}
