@model Control.Web.Data.Entities.Passanger

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Passanger</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PassangerId" />
            <div class="form-group">
                <label asp-for="Flight" class="control-label"></label>
                <input asp-for="Flight" class="form-control" />
                <span asp-validation-for="Flight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adult" class="control-label"></label>
                <input asp-for="Adult" class="form-control" />
                <span asp-validation-for="Adult" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Child" class="control-label"></label>
                <input asp-for="Child" class="form-control" />
                <span asp-validation-for="Child" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Infant" class="control-label"></label>
                <input asp-for="Infant" class="form-control" />
                <span asp-validation-for="Infant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishOn" class="control-label"></label>
                <input asp-for="PublishOn" class="form-control" />
                <span asp-validation-for="PublishOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
